<!DOCTYPE html>
<html>
<head>
    <title>How we devvin? :></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="welcome-wrapper">
        <h1 class="Welcome">HOW WE DEVVIN'?</h1>
        <h2 class="sub">You code, Kitty watches</h2>
        
        <img src="{{ url_for('static', filename='cat.png') }}" alt="watching cat" class="cat">
        <a class="button" href="/config_page">LET'S START</a>
    </div>

    <div class="leaves" styles></div>
</body>
</html>
